# general things to ignore
/.tscache
/.idea
/build/
/dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
*.log
*.map
*.pot
*.pyc
*.swp
*.lock
/.vscode
/tmp
/.bower.json
.cache-loader
/build2
# due to using tox and pytest
.tox
.cache
node_modules/
/src/**/*.js
src/**/*.css
src/**/*.d.ts
/tests/**/*.js
/tscommand*.tmp.txt
*.map
*.css
